.about-header {
    font-family: 'Raleway-Bold', sans-serif;
}
.about-text {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    margin: 5%;
}

.address-text {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.address-text-first {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    margin-top: 10%;
}

.map-img {
    height: 95%;
    width: 95%;
}

.social-icon {
    margin-right: 5px;
}