/*
.about-header {
}
*/
.about-text {
    margin: 5%;
}

.address-text {
    font-family: Arial, Helvetica, sans-serif;
}

.address-text-first {
    margin-top: 10%;
}

.map-img {
    height: 95%;
    width: 95%;
}

.social-icon {
    margin-right: 5px;
  }