.card {
  background: #ffffff;
  border-radius: 2px;
  height: 33rem;
  margin: 1rem 0 1rem 0;
  position: relative;
  width: 450px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  min-height: 35%;
  overflow: hidden;
  text-align: center;
  background: #6caddc;
}
.card > .img-container > img {
  width: 90%;
  height: 95%;
  margin-top: 5px;
}

.card > .content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 10px;
}
