.card {
    background: #fff;
    border-radius: 2px;
    height: 100%;
    margin: 1rem 0;
    position: relative;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
}

.card-header {
    font-family: 'Raleway-Black', Arial, Helvetica, sans-serif;
}

.card > .content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 15px;
}
/* .card > .img-container {
    min-height: 35%;
    overflow: hidden;
    text-align: center;
    background: #6caddc;
}
.card > .img-container > img {
    width: 90%;
    height: 95%;
    margin-top: 5px;
} */

/* .card > .content > ul {
    list-style-type: none;
}

.card > .content > ul > li {
    margin-top: 10px;
} */

/* For mobile responsiveness */

@media only screen and (min-width: 100px) {
    .card {
        max-height: 100%;
        overflow: auto;
    }
}
