.github-icon {
    color: black;
    margin: 1rem
}

.github-icon:hover {
    color: #3e64ff;
}

.meetup-icon {
    color: #ff4c68;
    margin: 1rem;
}

.meetup-icon:hover {
    color: #3e64ff;
}

.slack-icon {
    color: #01d28e;
    margin: 1rem;
}

.slack-icon:hover {
    color: #3e64ff;
}

.footer-text {
    font-family: 'Ubuntu', sans-serif;
}

.footer-text-indent {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1rem;
}

.footer {
    position: relative;
}
